@CHARSET "UTF-8";
header { position: fixed; box-shadow: 0px 1px #cccccc; background-color: rgba( 31, 78, 121, 0.5 ); color: white; top: 0px; height: 50px; width: 100%; }
header div { display: inline-block; height: 50px; text-align: center; vertical-align: top; }
.header_logo { width: 100px; }
.header_menus { width: calc( 100% - 110px ); text-align: center; }
.header_menu { cursor: pointer; padding: 15px 10px 5px 10px; width: 80px; margin: 0px 10px; }
.header_menu:hover { background-color: #ffffff; color: #000000; border-radius: 3px; }